In [3]:
name= 'prashu'

In [4]:
type ()

TypeError: type() takes 1 or 3 arguments

In [5]:
a=120
b=10.5
c=True
d=None

In [6]:
names =['nikhil','rishab','deobrat','sumit']

In [7]:
a=(5,10,15,20,25,30)

In [8]:
group ={1,2,3,3,3,4,4,4,5,5}

In [9]:
movie={
    'name':'fast10',
    'rating':9.0,'rated by':'prashu'
}

In [10]:
the

NameError: name 'the' is not defined

In [11]:
'nikhil'in names

True